body {
    font-family: Arial;
    background: linear-gradient(135deg, #4c6ef5, #15aabf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

input, select {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.link-btn {
    background: none;
    border: none;
    color: blue;
}

.hidden {
    display: none;
}

#sistema {
    width: 100%;
}

.menu {
    background: #333;
    padding: 10px;
}

.menu button {
    margin: 5px;
    color: white;
    background: #555;
}

.page {
    padding: 20px;
}
#cadastro {
    background: #222;
    color: white;
}
