* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #4c6ef5, #15aabf);
}

/* LOGIN */
.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #4c6ef5;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #3b5bdb;
}

a {
  display: block;
  margin-top: 10px;
  color: #4c6ef5;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* DASHBOARD */
#dashboard {
  display: flex;
  height: 100vh;
}

/* MENU LATERAL */
.sidebar {
  width: 220px;
  background: #343a40;
  color: white;
  padding: 20px;
}

.sidebar button {
  margin: 5px 0;
  background: #495057;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 20px;
  background: #f1f3f5;
}

.page {
  animation: fade 0.3s;
}

ul {
  margin-top: 10px;
}

li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}
